<!DOCTYPE HTML>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta property="og:type" content="website">
    <meta property="og:title" content="IETF MASQUE Working Group">
    <meta property="og:description" content="Multiplexed Application Substrate over QUIC Encryption">
    <meta property="og:url" content="https://masquewg.org/">
    <meta property="og:site_name" content="MASQUE">

    <link rel="shortcut icon" type="image/x-icon" href="/asset/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/asset/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/asset/favicon/favicon-16x16.png">

  </head>
  <body>
    <div class="container">
      <div class="lead">
        <h1>
            <img src="/asset/masque.png" class="img-fluid" alt="MASQUE">
        </h1>
        <p>MASQUE is an <a href="https://www.ietf.org/">IETF</a> Working Group that is <a href="https://datatracker.ietf.org/wg/masque/about/">chartered</a> to specify secure proxy protocols and mechanisms based on QUIC.</p>
        <p><strong>See our <a href="https://github.com/ietf-wg-masque/wg-materials/blob/master/CONTRIBUTING.md">contribution guidelines</a> and learn how to get involved!</strong></p>
      </div>

      {{ content }}

    </div>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
